
<div class= "mainServices">
    <li class="companyService li-services">
        <div class="companyServices"><h3 class="h1-ompanyTitle">Company Service</h3></div>
        <img class="img-shellShockLogo img-all" src="assets/shellShockLogo.png" alt="image">

        

    </li>
    <li class="homeService li-services">
        <div class="companyServices"><h3 class="h1-ompanyTitle">Home Services</h3></div>
        <img class="img-homeLogo img-all" src="assets/homeGreenLogo.jpg">

    </li>
    <li class="solarPanelService li-services">
        <div class="companyServices"><h3 class="h1-ompanyTitle">Solar Panel Services</h3></div>
        <img class="img-homeLogo solarPanelLogo" src="assets/solarPanelLogo.png">
        
    </li>
    
</div>

